#user_bar{


    box-shadow: 0px 0px 5px #000;
    height: 50px;
    width: 100%;
    color: black;

}

#avatar_user{

    border-radius: 50px;
    box-shadow: 0px 0px 1px #000;
    float: right;
    margin: 9px;

}

#back_menu{

    color: white;
    font-size: 35px;
    margin: 10px;
    margin-top: 3px;
    width: 10px;
    text-shadow: 0px 0px 2px #000;
    
}

@font-face {
    font-family: 'fontawesome';
    src:url('../../../../fonts/fontawesome-webfont.eot');
    src:url('../../../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../../../fonts/fontawesome-webfont.svg#fontawesome') format('svg'),
        url('../../../../fonts/fontawesome-webfont.woff') format('woff'),
        url('../../../../fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    margin:9px;
    color: white;
}

.icon-search:before {
    content: "\f002;";
}

.icon-doc:before {
    content: "\e001";
}

.icon-back:before {
    content: "\f104";
}

.icon-book:before {
    content: "\f02d";
}

.icon-micro:before {
    content: "\f130";
}

.icon-ask2:before {
    content: "\f128";
}

.icon-smile:before {
    content: "\f118";
}

.icon-sad:before {
    content: "\f118";
}

.icon-unlike:before {
    content: "\f088";
}

.icon-like:before {
    content: "\f087";
}

.icon-camera2:before {
    content: "\f083";
}

.icon-calendar:before {
    content: "\f073";
}

.icon-ask:before {
    content: "\f059";
}

.icon-write2:before {
    content: "\f044";
}

.icon-write:before {
    content: "\f040";
}

.icon-camera:before {
    content: "\f030";
}

.icon-music:before {
    content: "\f025";
}

.icon-horario:before {
    content: "\f017";
}

.icon-heart:before {
    content: "\f004";
}

.icon-user:before {
    content: "\f007";
}

.icon-download:before {
    content: "\e006";
}

.icon-location:before {
    content: "\e007";
}

.icon-images:before {
    content: "\e009";
}

.icon-pencil:before {
    content: "\e008";
}
